.div0 {
	width: 810px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 2px 1px 5px 5px gray;
}

.div1 {
	width: 810px;
	margin: 0 auto;
	background-color: white;
}

.title1 {
	height: 70px;
	background-color: white;
	width: 810px;
	margin: 0 auto;
}

.title2 {
	height: 70px;
	background-color: white;
	width: 810px;
	margin: 0 auto;
}

.title3 {
	background-color: white;
	width: 810px;
	margin: 0 auto;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-color: gray;
}

.pic{
	margin: 20px;
}

.comment{
	background: #F5F6F7;
	width: 810px;
}

.com_box{
	width: 810px;
	margin-top:20px;
	
}
.com_title{
	width:770px;
	height:35px;
	margin-left: 20px;
	margin-right: 20px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
.com_img{
	margin-left: 10px;
	width: 35px;
	float:left;
}
.com_img img{
	margin:0 auto;
	border-radius:50%;
	height: 30px;
}
.auth{
	float:left;
	line-height:30px;
	height: 30px;
	margin-left: 10px;
}
.time{
	margin-left:20px;
	height:30px;
	float: left;
	line-height: 30px;
}

.rp{
	float:right;
	line-height: 30px;
}
.rp_box{
	width: 770px;
	margin: 0 auto;
}

.rp_box_in{
	width: 720px;
	height:130px;
	margin-left:35px;
	margin: 0 auto;
}

.rp_box_btn{
	width: 50px;
	float: right;
	margin-right: 35px;
}

.reply{
	margin-left:40px;
	line-height:30px;
	width: 730px;
	background:#EAEAEA;
	margin-top: 10px;
}

.com_content{
	width: 770px;
	margin-left:20px;
	text-align:left;
	line-height:30px;
}
.bottm {
	height: 200px;
	background-color: white;
	width: 810px;
	margin: 0 auto;
	position: absolute;
	border-top: 1px;
	border-top-style: solid;
	border-color: gray;
}

.btn1 {
	width: 110px;
	height: 25px;
	background-color: white;
	border-color: gray;
	color: black;
}

.btn1:hover {
	background-color: gray;
	color: white;
}

.btn2 {
	width: 110px;
	height: 25px;
	background-color: green;
	color: white;
}

.btn2:hover {
	background-color: blue;
	color: white;
	
}