@CHARSET "UTF-8";
.top{
	background-color:buttonshadow;
	width: 100%;
	height: 70px;
	margin: 0px;
}
.top ul{
	margin: 0px;
	padding-top: 50px;
	padding-right: 50px;
	margin-right: 20%;
}
.top ul li{
	list-style-type: none;
	float: right;
	margin-right: 10px;
}