.topic{
	width: 810px;
	height: 500px;
}

.title{
	line-height: 30px;
	font-weight: bold;
	font-family: 楷体;
	font-size: 18px;
	margin-left: 20px;
	letter-spacing: 4px; 
}

.topic_content{
	margin-left: 20px;
}
.editor_title{
	line-height: 16px;
    width: 300px;
    height: 30px;
    padding: 0 9px;
    line-height: 28px;
    font-size: 14px;
}
.pic_box{
	margin-top: 10px;
	margin-bottom: 10px;
}
.pic_box input{
	width: 200px;
}
.text_box{
	width: 600px;
	height: 350px;
}
.text{
	width: 600px;
	height: 350px;
	max-width:650px;
	max-height:350px;
	font-size: 15px;
	font-family: 宋体;
}
.btn{
	width: 600px;
}
.btn input{
	float:right;
}
