<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
 <!-- common-file-upload 临时文件清理 器-->
 <listener>
 	<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
 </listener>
 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SecurityCodeController</servlet-name>
    <servlet-class>org.fjzzy.controller.SecurityCodeController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>org.fjzzy.controller.TestController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PetController</servlet-name>
    <servlet-class>org.fjzzy.controller.PetController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AuthenController</servlet-name>
    <servlet-class>org.fjzzy.controller.AuthenController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReplyController</servlet-name>
    <servlet-class>org.fjzzy.controller.ReplyController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>org.fjzzy.controller.CommentController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TypeController</servlet-name>
    <servlet-class>org.fjzzy.controller.TypeController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>org.fjzzy.controller.UserController</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>SecurityCodeController</servlet-name>
    <url-pattern>/SecurityCodeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/TestController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PetController</servlet-name>
    <url-pattern>/PetController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenController</servlet-name>
    <url-pattern>/AuthenController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyController</servlet-name>
    <url-pattern>/ReplyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/CommentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeController</servlet-name>
    <url-pattern>/TypeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>


	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
